<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="mainHeader :: mainHeader"></div>

<!-- slider section -->
<section style="min-height: 60vh;" class="slider_section hero_area">
    <div class="container" style="height: 60vh;">
        <div class="find_container ">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="px-5 text-light">Create a new Product</h3>
                        <form th:action="@{/saveProduct}" method="post" th:object="${product}">
                            <div class="form-row px-5">
                                <div class="form-group form-group col-lg-12">
                                    <label class="text-light">Shop Name</label>
                                    <select th:field="*{shop}" class="form-control w-full" required>
                                        <th:block th:each="shop : ${shop}">
                                            <option th:text="${shop.shopName}" th:value="${shop.id}"/>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="text-light">Product Name</label>
                                    <input th:field="*{productName}" type="text" name="productName"  class="form-control" id="productName" placeholder="Enter the product name!">
                                </div>

                                <div class="form-group col-lg-12">
                                    <label class="text-light">Product Description</label>
                                    <textarea rows="10" th:field="*{productDescription}" type="productDescription" name="productDescription" class="form-control" id="productDescription">
                                      Enter the product name!
                                  </textarea>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="text-light">Product Price</label>
                                    <input th:field="*{price}" type="number" name="productName"  class="form-control" id="price">
                                </div>
                                <div class="btn-box col-lg-12 pt-2">
                                    <button type="submit" class="btn w-100">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->

<div th:replace="footer :: footer"></div>